.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  /* Oculto inicialmente */
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.btn-scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.btn-scroll-top:hover {
  background-color: #1d4ed8;
  transform: scale(1.1);
}